:root {

    --borda-caixa: #11116e;
    --background-caixa-um: #d9d9d9;
    --houver-caixa-um: #c3c2c2;
    --background-caixa-dois: #fff;
    --botao: #11116e;
    --hover-botao: rgb(76, 76, 218);
    --borda-botao: #fff;
    --Background-caixa-input: #d9d9d9;
}

/* Estilização do botão de modo escuro*/
#lightingButton{

    cursor: pointer;
    left: 5vw;
    position: absolute;
    top: 1vw;

}

/* Caixa de login */

/* Caixa principal */
#topBox{

    border: 2px solid var(--borda-caixa);
    display: flex;
    justify-content: space-evenly;
    height: 40vw;
    width: 66vw;

}

.standard{/* Caixa de alinhamento */

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

/* Estilização da caixa de seção */
#internalBoxOne{

    background: var(--background-caixa-um);
    height: 100%;
    width: 100%;

}
#internalBoxOne:hover{background: var(--houver-caixa-um);}

#internalBoxOne p{text-align: center;}

/* Estilização da caixa principal do formulário */

#internalBoxTwo{background: var(--background-caixa-dois);}

/* Caixa de redes sociais */
#socialMediaButtons{margin: 1vw 0;}
#socialMediaButtons button{

    background: transparent;
    border: 2px solid var(--borda-caixa);
    border-radius: 20px;
    height: 35px;
    padding: 0;
    width: 35px;
    
}
#socialMediaButtons button img{vertical-align: middle;}

span{margin-bottom: 1vw;}

/* formulário */
form{

    display: flex;
    flex-direction: column;

}

/* Estilização da caixa de input */
.inputBox{

    background: var(--Background-caixa-input);
    border-radius: 23px;
    margin-bottom: 5px;
    padding: 0.7vw 1vw;

}
.inputBox img{vertical-align: middle;}
.inputBox input{

    background: transparent;
    border: none;
    height: 2vw;
    outline: none;
    width: 20vw;

}

/* Botão enviar */
input[type='submit']{margin-top: 1vw;}

#internalBoxOne button:hover,
input[type='submit']:hover{

    transition: background 1s;
    background: var(--hover-botao);
    border: 2px solid var(--borda-botao);

}